# Dependências principais
setuptools==68.2.2  # Versão compatível que ainda inclui pkg_resources
wheel==0.42.0
pip==24.0

# Suas dependências
flask==3.0.2  # Versão atualizada
requests==2.32.0
beautifulsoup4==4.12.3
apscheduler==3.10.1
pytz==2024.1
numpy==2.0.0
python-dotenv==1.0.1
gunicorn==21.2.0
lxml==5.2.0

# Adicione para substituir pkg_resources
importlib-metadata==7.1.0
importlib-resources==6.4.0