# Dependências essenciais
setuptools==68.2.2
wheel==0.41.3
pip==23.0.1

# Suas dependências
flask==2.3.2
requests==2.31.0
beautifulsoup4==4.12.2
apscheduler==3.10.1
pytz==2023.3
numpy==1.24.3
python-dotenv==1.0.0
gunicorn==20.1.0
lxml==4.9.3